#diasPanel{
	margin-top: 2%;
	margin-bottom: 4%;
}

#formIntervalo{
	margin: auto;
	width: 50%;
	min-width: 569px;
}

#formIntervalo #buttons{
	text-align: center;
}

#hoursTable{
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;

}

#hoursTable td, #hoursTable th{
	padding: 10px 0;
	text-align: center;
	width: 80px;
	border-color: white;
}

#diasPanel button{
	padding-top: 10px;
	padding-bottom: 10px;
}